<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-img src="assets/icon/favicon.png" style="width: 30px; margin-left: 10px;"></ion-img>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao myTasks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Organize as suas tarefas de forma simples e rápida.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/lista">
    Ver Minhas Tarefas
    <ion-icon name="list-outline" slot="end"></ion-icon>
  </ion-button>

</ion-content>